<div class="container">
  <h1>Productos en Tiempo Real</h1>
  <div class="productos-container" id="products-list"></div>

  <h2>Agregar Producto</h2>
  <form id="product-form" class="product-form">
    <input type="text" id="product-title" placeholder="Título del producto" required>
    <input type="text" id="product-description" placeholder="Descripción del producto" required>
    <input type="text" id="product-category" placeholder="Categoría del producto" required>
    <input type="number" id="product-price" placeholder="Precio del producto" required>
    <input type="text" id="product-code" placeholder="Código del producto" required>
    <input type="number" id="product-stock" placeholder="Stock del producto" required>
    <select name="status" id="product-status">
      <option value="true">Activo</option>
      <option value="false">Inactivo</option>
    </select>
    <button type="submit">Agregar</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>